*{margin: 0; padding: 0;}
ul{list-style: none;}


.main_banner{
  background-image: url(../images/main.png);
  background-size: cover;
  padding-bottom: 200px;
  position: relative;
}

.main_banner::after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(68, 68, 68, 0.3);
}

.main_text_box{
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 10;
}

.intro_main_tit{
  padding-top: 200px;
}

.intro_sub_tit{
  margin-top: 27px;
}

/* 여기부터 부트스트랩 */

.intro{
  margin-top: 150px;
} 

.intro_txt{
  font-weight: 500;
}

.intro_txt .happy_btn{
  border: 1px solid #403D3D;
  border-radius: 300px;
  max-width: 186px;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.intro_txt .happy_green_txt{
  margin-top: 20px;
  font-size: 48px;
  color: #66CC66;
}

.intro_txt .happy_txt{
  font-size: 32px;
} 

.intro_list .list{
  position: relative;
  margin: 10px;
  width: calc(50% - 20px);
}

.intro_list .list img{
  width: 100%;
}

.intro_list .list::after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0px;
  background-color: rgba(68, 68, 68, 0.3);
  border-radius: 10px;
}  

.intro_list .img_txt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 500;
  color: #fff;
  z-index: 100;
}

.intro_list .list:hover::after{
  position: absolute;
  content: "";
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(68, 68, 68, 0.77);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
} 


.intro_list .row>*{
  padding-right: 0;
  padding-left: 0;
}

.intro_list .row{
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

@media screen and (max-width: 1024px){
  .intro{
    margin-top: 120px;
  } 

  .intro_list .img_txt{
  font-size: 32px;
  }

  .intro_txt .happy_green_txt{
    font-size: 32px;
  }

  .intro_txt .happy_txt{
    font-size: 21px;
  }

  .intro_txt .happy_btn{
    max-width: 124px;
    font-size: 12px;
  }

  .intro_list .list{
  margin: 5px;
  width: calc(50% - 15px);
  }
}

@media screen and (max-width: 767px){
  .intro{
    margin-top: 80px;
  } 

  .intro_list .list{
    width: 100%;
  }
}